.search-wrp {
  padding: 40px;
}

.search-results {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
}

.stocks-wrp {
  display: flex;
}

.stocks-wrp span:not(:last-child) {
  margin-right: 15px;
}
